<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>All Employees</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <hr>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <h2>All Employees: </h2>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Employee IS</th>
              <th scope="col">Total Hours in Selected Period</th>
              <th scope="col">Checkin Dates</th>
              <th scope="col">Checkout Dates</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="employee : ${employees}">
              <th scope="row" th:text="${employee.empName}">...</th>
              <td th:text="${employee.empTotalHours}">...</td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item" th:each="checkin : ${employee.checkins}">
                    <p th:text="${checkin.checkinIndate}">...</p>
                  </li>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item" th:each="checkin : ${employee.checkins}">
                    <p th:text="${checkin.checkinOutdate}"></p>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
  </div>

</body>

</html>