<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Get By Name and Month</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <div class="row">
      <hr>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">

        <h2>Please Enter a valid IS and dates in format (YYYY-MM-DD). </h2>

        <form action="user" method="POST">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputName">Employee IS</label>
              <input type="text" class="form-control" id="inputName" name="name" placeholder="Employee IS">
            </div>
            <div class="form-group col-md-3">
              <label for="startDate">Start Date</label>
              <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Start Date">
            </div>
            <div class="form-group col-md-3">
              <label for="endDate">Start Date</label>
              <input type="text" class="form-control" id="endDate" name="endDate" placeholder="End Date">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <hr>

        <div th:if="${employees != null}">

          <h3>Employee <span th:utext="${name}"></span> between <span th:utext="${sDate}"></span> and <span
              th:utext="${eDate}"></span></h3>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Employee IS</th>
                <th scope="col">Total Hours in Selected Period</th>
                <th scope="col">Checkin Dates</th>
                <th scope="col">Checkout Dates</th>
              </tr>
            </thead>

            <tbody>
              <tr th:each="employee : ${employees}">
                <th scope="row" th:text="${employee.empName}">...</th>

                <td th:text="${employee.empTotalHours}">...</td>
                <td>
                  <ul class="list-group">
                    <li class="list-group-item" th:each="checkin : ${employee.checkins}">
                      <p th:text="${checkin.checkinIndate}">...</p>
                    </li>
                  </ul>
                </td>
                <td>
                  <ul class="list-group">
                    <li class="list-group-item" th:each="checkin : ${employee.checkins}">
                      <p th:text="${checkin.checkinOutdate}"></p>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>