<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>INDEX: Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row"><hr></div>
        <div class="row justify-content-center">
            <div class="col-8">
                <ul class="list-group">

                    <li class="list-group-item"><a href="getAll">Get All Employees.</a></li>
                    <li class="list-group-item"><a href="getByNameAndMonthForm">Get Employee By IS and Month.</a></li>
                    <li class="list-group-item"><a href="getByNameAndIntervalForm">Get Employee By IS in a Period of Time.</a></li>
                    <li class="list-group-item"><a href="getAllByMonthForm">Get All Employees by month.</a></li>
                    <li class="list-group-item"><a href="getAllByIntervalForm">Get All Employees in a Period of Time.</a></li>
                    <li class="list-group-item"><a href="users/persist">Persist Data</a></li>

                </ul>
            </div>
        </div>
    </div>

</body>

</html>